#contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 50%;
}

@media screen and (max-width: 900px) {
    .fields {
        width: 90%;
    }
}