#menu {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#menu>h3 {
    color: var(--primary-color);
}

#menu>h1 {
    font-size: 4em;
    width: 70%;
    line-height: 65px;
}

@media screen and (max-width: 768px) {
    #menu>h1 {
        width: 100%;
        font-size: 3em;
    }
}